* {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  box-sizing: border-box;
  font-family: var(--primary-font-family);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  /* background-color: var(--color-secondary-dark); */
  min-height:1000vh;
}

h1 {
  font-family: var(--secondary-font-family);
  font-size: 250%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: var(--container-max-size);
  width: var(--container-size);
  margin: var(--align-center);
}

ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.button--default {
  cursor: pointer;
  transition: var(--transition-default);
  padding:
    var(--padding-top-default-button)
    var(--padding-left-default-button);
  border: var(--border-style-default);
  border-radius: var(--border-radius-default);
}

.button--default__color {
  border: var(--border-style-secondary);
}
.button--default:hover {
  background-color: rgba(255, 255, 255, 0.123);
}

.emphasis--color {
  color: var(--color-emphasis);
}
