@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');

:root {
    --color-logo-primary: #FDDD7B;
    --color-logo-secondary: #FF7E26;

    --color-svg-light: #5F6AFF;
    --color-svg-light: #5864FF;

    --color-primary-lighter: #a0b6ff;
    --color-primary-light: #819ff3;
    --color-primary: #6288e7;
    --color-primary-dark: #4271db;
    --color-primary-darker: #235acf;

    --color-secondary-light: #E5F2F1;
    --color-secondary: #22a089;
    --color-secondary-dark: #118d77;

    --color-background: #EEEFFF;
    --color-header-background: #f0f0f7c7;

    
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;

    --color-text-complement: #9C98A6;
    --color-text-base: #4f495f;

    --color-line-in-white: #E6E6F0;

    --color-input-background: #F8F8FC;

    --color-button-text: #FFFFFF;

    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;

    --color-small-info: #C1BCCC;
    
    --container-max-size: 1320px;
    --container-size: 98%;
    
    --align-center: 0 auto;

    --padding-default: 1rem;
    --padding-top-default-button: .6rem;
    --padding-left-default-button: 1.2rem;

    --color-emphasis: white;

    --border-radius-default: 40px;

    --transition-default: .3s;

    --border-style-default: 2.5px solid var(--color-emphasis);

    --font-size: 1.2rem;
    --primary-font-family: 'Nunito', sans-serif;
    
    --secondary-font-family: 'Arimo', sans-serif;
}