<!DOCTYPE html>
<html>

<head>
  <!-- <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script> -->
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <title>New Article</title>
</head>

<body>
  
  <section class="container">
    <div id="article"></div>
    
    <form action="/" method="post" class="no-send">
    
      <section name="newArticle" class="editor--text__hidden" data-js="getArticle"></section>
    
      <button class="enviar">enviar</button>
    </form>
  </section>

  <script src="js/bundle.js" defer>
  </script>
</body>

</html>