<%- include('../include/head') %>

<%- include('../include/header-home') %>

<section class="head-line">
    <div class="hl-background-svg">

      <div class="container flex hl-container">
        <div class="head__primary-text" data-anime data-animation-primary="right">
          <h1 class="emphasis--color">Launch Your SaaS Website in Minutes!</h1>
          
          <p class="emphasis--color">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
          magna aliquyam erat, sed diam voluptua.</p>

          <button class="hl__button button--default emphasis--color">
            Entre em Contato
          </button>
        </div>
        
        <div class="head__image" data-anime data-animation-primary="left">
           <img id="hero-head-line" alt=""> 
          <!--src="img/page/home/hero-img.png"-->

        </div>
        <!-- head__primary-text -->
      </div>
      <!-- container flex -->
    </div>
    <!-- hl-background-svg -->
  </section>
  <!-- head-line -->

  <section id="specify" class="specify">
    <div class="container sepcify-container">
      <div class="specify-details" data-anime data-all-animation="left">
        <div class="icon flex">
          <i class="fas fa-tachometer-alt icon-home"></i>
        </div>
        <!-- icon -->

        <h3 class="specify-details__sub-title">Lorem ipsum</h3>

        <p class="specify-details__sub-text">alcance mais clientes de maneira mais automatica</p>
      </div>
      
      <div class="specify-details" data-anime data-all-animation="top">
        <div class="icon flex">
          <i class="far fa-user-circle icon-home"></i>
        </div>
        <!-- icon -->

        <h3 class="specify-details__sub-title">Lorem ipsum</h3>

        <p class="specify-details__sub-text">aqui você conversa com um humano</p>
      </div>
      
      <div class="specify-details" data-anime data-all-animation="right">
        <div class="icon flex">

          <i class="fas fa-drafting-compass icon-home"></i>
        </div>
        <!-- icon -->

        <h3 class="specify-details__sub-title">Lorem ipsum</h3>

        <p class="specify-details__sub-text">o desing é responsivo e com isso você vai passar a agradar ainda mais clientes</p>
      </div>
    </div>
  </section>
  <!-- specify -->
</body>
</html>