<%- include('../include/head') %>

  <%- include('../include/header-home') %>

    <section class="head-line">
      <div class="hl-background-svg">

        <div class="container flex hl-container">
          <div class="head__primary-text" data-anime data-animation-primary="right">
            <h1 class="emphasis--color">Launch Your SaaS Website in Minutes!</h1>

            <p class="emphasis--color">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
              tempor invidunt ut labore et dolore
              magna aliquyam erat, sed diam voluptua.</p>

            <button class="hl__button button--default emphasis--color">
              Entre em Contato
            </button>
          </div>

          <div class="head__image" data-anime data-animation-primary="left">
            <img id="hero-head-line" alt="">
            <!--src="img/page/home/hero-img.png"-->

          </div>
          <!-- head__primary-text -->
        </div>
        <!-- container flex -->
      </div>
      <!-- hl-background-svg -->
    </section>
    <!-- head-line -->

    <section id="specify" class="specify">
      <div class="container sepcify-container">
        <div class="specify-details" data-anime data-all-animation-specify data-all-animation="left">
          <div class="icon flex">
            <i class="fas fa-tachometer-alt icon-home"></i>
          </div>
          <!-- icon -->

          <h3 class="specify-details__sub-title">Lorem ipsum</h3>

          <p class="specify-details__sub-text">alcance mais clientes de maneira mais automatica</p>
        </div>

        <div class="specify-details" data-anime data-all-animation-specify data-all-animation="top">
          <div class="icon flex">
            <i class="far fa-user-circle icon-home"></i>
          </div>
          <!-- icon -->

          <h3 class="specify-details__sub-title">Lorem ipsum</h3>

          <p class="specify-details__sub-text">aqui você conversa com um humano</p>
        </div>

        <div class="specify-details" data-anime data-all-animation-specify data-all-animation="right">
          <div class="icon flex">

            <i class="fas fa-drafting-compass icon-home"></i>
          </div>
          <!-- icon -->

          <h3 class="specify-details__sub-title">Lorem ipsum</h3>

          <p class="specify-details__sub-text">o desing é responsivo e com isso você vai passar a agradar ainda mais
            clientes</p>
        </div>
      </div>
    </section>
    <!-- specify -->

    <section class="emphasis">
      <div class="emphasis--backgrund-svg" id="emphasis">
        <div class="container emphasis-container flex">
          <div class="emphasis-item" data-anime data-all-animation-emphasis="left">
            <img id="initial-page" class="emphasis--image" alt="">
          </div>
          <div class="emphasis-text emphasis-item" data-anime data-all-animation-emphasis="right">
            <h2>Perfect Solution Thriving Online Business</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt ut labore et
              dolore magna
              aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
              gubergren, no
              sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet.</p>

              <button class="button--default button--default__color">Saiba Mais</button>
          </div>
          <!-- emphasis-text -->
        </div>
        <!-- container -->
      </div>
      <!-- emphasis--backgrund-svg -->
    </section>
    </body>

    </html>