<%- include('../include/head') %>

<%- include('../include/header-home') %>

<section class="head-line">
    <div class="hl-background-svg">

      <div class="container flex hl-container">
        <div class="head__primary-text">
          <h1 class="emphasis--color">Launch Your SaaS Website in Minutes!</h1>
          
          <p class="emphasis--color">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
          magna aliquyam erat, sed diam voluptua.</p>

          <button class="hl__button button--default emphasis--color">
            Entre em Contato
          </button>
        </div>
        
        <div class="head__image">
          <img src="img/page/home/hero-img.png" alt="">
          
        </div>
        <!-- head__primary-text -->
      </div>
      <!-- container flex -->
    </div>
    <!-- hl-background-svg -->
  </section>
</body>
</html>