<header class="header-home">
  <section class="container flex">
    <div class="header-home__logo flex">
      <!-- <img src="img/icon/favicon-prizatech.ico" alt=""> -->
      <h2 class="header-home__logo--title">Priza Tech</h2>
    </div>

    <nav class="header-home__nav">
      <ul class="flex">
        <li>
          <a href="#" class="home-link home-link__size">Home</a>
        </li>

        <li>
          <a href="#" class="home-link home-link__size">Recursos</a>
        </li>

        <li>
          <a href="#" class="home-link home-link__size">About</a>
        </li>

        <li>
          <a href="#" class="home-link home-link__size">Academia</a>
        </li>

        <li>
          <a href="#" class="home-link home-link__size">Dentista</a>
        </li>

        <li>
          <a href="#" class="home-link home-link__size">Restaurante</a>
        </li>

        <li>
          <a href="#" class="home-link home-link__size">Pricing</a>
        </li>

        <li>
          <a href="#" class="home-link home-link__size">Contact</a>
        </li>
      </ul>
    </nav>
  </section>
</header>