<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/<%= content.pageName %>.bundle.js" defer></script>
  <!-- <link rel="stylesheet" href="css/pattern.css"> -->
  <link rel="shortcut icon" href="img/icon/favicon-prizatech.ico" type="image/x-icon">
  <title><%= content.title %></title>
</head>
<body>